

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
   background-image: url(./img/MegaTron.jpg);
    direction: rtl;
    height: 100vh;
    width: 100vw;
    position: relative;
    
  }
  h3 {
      font-style: italic;
  }

  
  .BoxGeneral {
    width: 800px;
    height: 350px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    padding-top: 45px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
}

button{
    height: 35px;
    width: 100%;
    padding: 5px 25px;
    color:white;
    border-radius: 15px;
    border-style: none;
    margin-top: 20px;
    font-size: large;
    text-shadow: 1px 2px 1px black;
    font-weight: 700;
    
    
}

button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.green {
    background-color: #6DE284;
    width: 80%;
}

.red {
    background-color: rgba(255, 0, 0, 0.656);
    width: 80%;

}

.box-right{
    width: 30%;
    height: 350px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}

.box-left{
    width: 30%;
    height: 350px;
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
}  

.box-left div{
    position: relative;
}

.image {
    position: absolute;
    right: 12px;
    top: 18px;
    width: 24px;
}

input {
    margin: 10px 0px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 40px;
    padding-right: 40px;
    
}

.form-box input:focus {
outline: 2px solid black;

}

.form-box input::placeholder{
    font-weight: 700;
   
}
.Email{
    position: absolute;
    right: 12px;
    top: 17px;
    width: 25px;    
}

.pass{
    position: absolute;
    right: 12px;
    top: 18px;
    width: 9%;
}

.box-right div{
    position: relative;
}

